{% import "../utils/fgtconfig.jinja" as fgtconfig %}

{% set prefix = properties.prefix|default(env.deployment) %}

resources:
- name: HubVPC
  type: vpc.jinja
  properties:
    prefix: {{ prefix }}
    region: {{ properties.region }}
    hubNetworks: {{properties.hubNetworks }}
    spokeNetworks: {{ properties.spokeNetworks }}
- name: Fortigate_Cluster
  type: fortigate.jinja
  properties:
    prefix: {{ prefix }}
    region: {{ properties.region }}
    zones: {{ properties.zones }}
    instanceType: {{ properties.fgtInstanceType }}
    serviceAccount: {{ properties.fgtServiceAccount }}
    license: {{ properties.license }}
    version: {{ properties.version }}
    fwConfig: |
      {{ fgtconfig.configSpokeAddresses( prefix, properties.spokeNetworks )|indent(6) }}
      {{ properties.fwConfig |indent(6) }}
    networks:
      internal:
        vpc: $(ref.HubVPC.hubVpcRef)
        subnet: $(ref.HubVPC.hubSubnetRef)
        ipCidrRange: {{ properties.hubNetworks.internal.ipCidrRange }}
      external:
        vpc: $(ref.HubVPC.extVpcRef)
        subnet: $(ref.HubVPC.extSubnetRef)
        ipCidrRange: {{ properties.hubNetworks.external.ipCidrRange }}
      hasync:
        vpc: $(ref.HubVPC.haVpcRef)
        subnet: $(ref.HubVPC.haSubnetRef)
        ipCidrRange: {{ properties.hubNetworks.hasync.ipCidrRange }}
      mgmt:
        vpc: $(ref.HubVPC.mgmtVpcRef)
        subnet: $(ref.HubVPC.mgmtSubnetRef)
        ipCidrRange: {{ properties.hubNetworks.mgmt.ipCidrRange }}
    publicIPs: {{ properties.publicIPs }}
    routes:
    - destRange: 0.0.0.0/0
      name: default-via-fgt
      priority: 100

outputs:
- name: Management_IP
  value:
    Fortigate_A: $(ref.Fortigate_Cluster.FGT1-mgmt-ip)
    Fortigate_B: $(ref.Fortigate_Cluster.FGT2-mgmt-ip)
- name: Default_Password
  value: $(ref.Fortigate_Cluster.defaultPassword)
