config system interface
  edit port2
    set mode static
    set ip ${port_addr}/32
    set secondary_ip enable
    config secondary_ip
      edit 0
        set ip ${port2_ilb}/32
        set allowaccess probe-response
      next
    end
  next
end

config system sdn-connector
    edit "gcp"
        set type gcp
        set ha-status enable
    next
end

config system probe-response
    set mode http-probe
    set http-probe-value OK
end

config router bgp
  set as ${fgt_asn}
  set ebgp-multipath enable
  set graceful-restart enable
  config neighbor
  %{for peer in bgp_peers ~}
    edit "${peer}"
      set ebgp-enforce-multihop enable
      set soft-reconfiguration enable
      set remote-as ${ncc_asn}
    next
   %{endfor}
  end
end

config router static
  edit 0
    set dst ${port2_cidr}
    set gateway ${port2_gw}
    set device port2
  next
  edit 0
    set device port2
    set gateway ${port2_gw}
    set dst 35.191.0.0/16
    set comment "GCP load balancer health checks"
  next
  edit 0
    set device port2
    set gateway ${port2_gw}
    set dst 130.211.0.0/22
    set comment "GCP load balancer health checks"
  next
end