
{% set prefix = prefix|default(env.deployment) %}

{% import "../utils/netcalc.jinja" as netcalc %}

resources:
{% for address in properties.publicIPs %}
- name: {{ prefix }}-{{ address.name }}
  type: compute.v1.address
  properties:
    region: {{ properties.region }}
    description: Floating public IP for FGT cluster
{% endfor %}

- name: Fortigate_Cluster_Basic
  type: ha-ap.jinja
  properties:
    prefix: {{ prefix }}
    region: {{ properties.region }}
    zones: {{ properties.zones }}
    instanceType: {{ properties.instanceType }}
    license: {{ properties.license }}
    version: {{ properties.version }}
    networks: {{ properties. networks }}
    serviceAccount: {{ properties.serviceAccount }}
    serialPortEnable: {{ properties.serialPortEnable }}
    attachPublicIP: false
    routes: {{ properties.routes }}
    fwConfig: |
      config system probe-response
        set mode http-probe
        set http-probe-value OK
      end
      config system interface
        edit port1
          unset allowaccess
          set secondary-IP enable
          config secondaryip
  {%- for address in properties.publicIPs %}
            edit {{ loop.index }}
            set ip $(ref.{{ prefix }}-{{ address.name }}.address) 255.255.255.255
            set allowaccess probe-response
            next
  {%- endfor %}
          end
        next
      end
      {{ properties.fwConfig | indent(6) }}


- name: {{ prefix }}-ha-probe
  type: compute.v1.httpHealthCheck
  properties:
    port: 8008
    checkIntervalSec: 5
    timeoutSec: 3
    unhealthyThreshold: 2
    healthyThreshold: 1
- name: {{ prefix }}-ha-pool
  type: compute.v1.targetPool
  properties:
    region: {{ properties.region }}
    healthChecks:
    - $(ref.{{ prefix }}-ha-probe.selfLink)
    instances:
    - $(ref.Fortigate_Cluster_Basic.fgt1Link)
    - $(ref.Fortigate_Cluster_Basic.fgt2Link)
    sessionAffinity: NONE
{% for address in properties.publicIPs %}
- name: {{ prefix }}-tcpfwd-{{ address.name }}
  type: compute.v1.forwardingRule
  properties:
    region: {{ properties.region }}
    IPAddress: $(ref.{{ prefix }}-{{ address.name }}.selfLink)
    IPProtocol: TCP
    portRange: 1-65535
    target: $(ref.{{ prefix }}-ha-pool.selfLink)
    loadBalancingScheme: EXTERNAL
- name: {{ prefix }}-udpfwd-{{ address.name }}
  type: compute.v1.forwardingRule
  properties:
    region: {{ properties.region }}
    IPAddress: $(ref.{{ prefix }}-{{ address.name }}.selfLink)
    IPProtocol: UDP
    portRange: 1-65535
    target: $(ref.{{ prefix }}-ha-pool.selfLink)
    loadBalancingScheme: EXTERNAL
{% endfor %}


outputs:
- name: FGT1-mgmt-ip
  value: $(ref.Fortigate_Cluster_Basic.FGT1-mgmt-ip)
- name: FGT2-mgmt-ip
  value: $(ref.Fortigate_Cluster_Basic.FGT2-mgmt-ip)
- name: defaultPassword
  value: $(ref.Fortigate_Cluster_Basic.defaultPassword)
- name: Inbound_Service_Addresses
  value:
  {%- for address in properties.publicIPs %}
  - {{address.name}}: $(ref.{{ prefix }}-{{ address.name }}.address)
  {% endfor %}
