{% macro getFgtImage(version, licenseType) -%}
{% if version == "6.2.3" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-623-20191223-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-623-20191223-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "6.2.5" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-625-20200831-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-625-20200831-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "6.4.0" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-640-20200401-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-640-20200401-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "6.4.1" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-641-20200610-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-641-20200610-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "6.4.2" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-642-20200810-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-642-20200810-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "6.4.3" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-643-20201110-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-643-20201110-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "6.4.4" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-644-20201217-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-644-20201217-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "6.4.5" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-645-20210302-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-645-20210302-001-w-license" -%}
  {% endif -%}
{% endif -%}
{% if version == "7.0.0" -%}
  {% if licenseType == "byol" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-700-20210407-001-w-license" -%}
  {% endif -%}
  {% if licenseType == "payg" -%}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-700-20210407-001-w-license" -%}
  {% endif -%}
{% endif -%}
{{ firmwareImage }}
{%- endmacro %}
