{% import "../utils/fgtconfig.jinja" as fgtconfig %}

{% if not prefix is defined %}
{% set prefix=env.deployment %}
{% endif %}

resources:
- name: HubVPC
  type: vpc.jinja
  properties:
    prefix: {{ prefix }}
    region: {{ properties.region }}
    hubNetworks: {{properties.hubNetworks }}
    spokeNetworks: {{ properties.spokeNetworks }}
- name: Fortigate_Cluster
  type: ha-ap.jinja
  properties:
    prefix: {{ prefix }}
    region: {{ properties.region }}
    zone1: {{ properties.zone1 }}
    zone2: {{ properties.zone2 }}
    instanceType: {{ properties.fgtInstanceType }}
    serviceAccount: {{ properties.fgtServiceAccount }}
    license: {{ properties.license }}
    version: {{ properties.version }}
    fwConfig: |
      {{ fgtconfig.configSpokeAddresses( prefix, properties.spokeNetworks )|indent(6) }}
    networks:
      internal:
        vpc: $(ref.HubVPC.hubVpcRef)
        subnet: $(ref.HubVPC.hubSubnetRef)
        cidr: {{ properties.hubNetworks.internal.ipCidrRange }}
      external:
        vpc: $(ref.HubVPC.extVpcRef)
        subnet: $(ref.HubVPC.extSubnetRef)
        cidr: {{ properties.hubNetworks.external.ipCidrRange }}
      hasync:
        vpc: $(ref.HubVPC.haVpcRef)
        subnet: $(ref.HubVPC.haSubnetRef)
        cidr: {{ properties.hubNetworks.hasync.ipCidrRange }}
      mgmt:
        vpc: $(ref.HubVPC.mgmtVpcRef)
        subnet: $(ref.HubVPC.mgmtSubnetRef)
        cidr: {{ properties.hubNetworks.mgmt.ipCidrRange }}

outputs:
- name: Management_IP
  value:
    Fortigate_A: $(ref.Fortigate_Cluster.FGT1-mgmt-ip)
    Fortigate_B: $(ref.Fortigate_Cluster.FGT2-mgmt-ip)
- name: defaultPassword
  value: $(ref.Fortigate_Cluster.defaultPassword)
