{% if properties.version == "6.2.3" %}
  {% if properties.license.type == "byol" %}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgt-623-20191223-001-w-license" %}
  {% endif %}
  {% if properties.license.type == "payg" %}
  {% set firmwareImage = "https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/images/fortinet-fgtondemand-623-20191223-001-w-license" %}
  {% endif %}
{% endif %}

{% import "utils/netcalc.jinja" as netcalc %}

resources:
- name: {{ properties.prefix }}-ext-ip
  type: compute.v1.address
  properties:
    region: {{ properties.region }}
    description: Floating public IP for FGT cluster
- name: {{ properties.prefix }}-fgt1-logdisk
  type: compute.v1.disk
  properties:
    zone: {{ properties.zone1 }}
    diskSizeGb: 30.0
- name: {{ properties.prefix }}-fgt2-logdisk
  type: compute.v1.disk
  properties:
    zone: {{ properties.zone2 }}
    diskSizeGb: 30.0
- name: {{ properties.prefix }}-fgt1
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone1"]}}
    machineType: zones/{{ properties["zone1"]}}/machineTypes/{{ properties["instanceType"]}}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      guestOsFeatures:
      - type: MULTI_IP_SUBNET
      licenses:
      - https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/licenses/fortigate
      initializeParams:
        sourceImage: {{ firmwareImage }}
        diskSizeGb: 10.0
    - deviceName: {{ properties.prefix }}-fgt1-logdisk
      source: $(ref.{{ properties.prefix }}-fgt1-logdisk.selfLink)
      type: PERSISTENT
      autoDelete: true
      boot: false
    networkInterfaces:
    - network: {{ properties.networks.data.vpc }}
      subnetwork: {{ properties.networks.data.subnet }}
      networkIP: {{ netcalc.getNthIp( properties.networks.data.cidr, 1 ) }}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
        natIP: $(ref.{{ properties.prefix }}-ext-ip.address)
    - network: {{ properties.networks.hasync.vpc }}
      subnetwork: {{ properties.networks.hasync.subnet }}
      networkIP: {{ netcalc.getNthIp( properties.networks.hasync.cidr, 1 )}}
    - network: {{ properties.networks.mgmt.vpc }}
      subnetwork: {{ properties.networks.mgmt.subnet }}
      networkIP: {{ netcalc.getNthIp( properties.networks.mgmt.cidr, 1 )}}
      accessConfigs:
      - name: Mgmt A
        type: ONE_TO_ONE_NAT
    canIpForward: Yes
    serviceAccounts:
    - email: {{ properties.serviceAccount }}
      scopes:
      - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      - 'https://www.googleapis.com/auth/logging.write'
      - 'https://www.googleapis.com/auth/monitoring.write'
      - 'https://www.googleapis.com/auth/compute'
    metadata:
    {% if properties.license.type == "payg" %}
      # give secondary time to verify PAYG license
      dependsOn:
      - {{ properties.prefix}}-fgt2
    {% endif %}
      items:
      - key: serial-port-enable
        value: true
    {% if properties.license.type == "byol" %}
      - key: license
        value: |
          {{ imports[properties.license.lic1] | indent(10) }}
    {% endif %}
      - key: user-data
        value: |
          config system global
            set hostname "{{ properties.prefix }}-fgt1"
          end
          config system interface
            edit port1
              set description data
              set mode static
              set ip {{ netcalc.getNthIpWithMask( properties.networks.data.cidr, 1 )}}
              set allowaccess ping https ssh fgfm
            next
            edit port2
              set description hasync
              set mode static
              set ip {{ netcalc.getNthIpWithMask( properties.networks.hasync.cidr, 1 )}}
              set allowaccess ping
            next
            edit port3
              set description mgmt
              set mode static
              set ip {{ netcalc.getNthIpWithMask( properties.networks.mgmt.cidr, 1 )}}
              set allowaccess ping https ssh fgfm
            next
          end
          config system ha
            set group-name "cluster1"
            set mode a-p
            set hbdev "port2" 50
            set session-pickup enable
            set ha-mgmt-status enable
            config ha-mgmt-interfaces
              edit 1
              set interface "port3"
              set gateway {{ netcalc.getNthIp( properties.networks.mgmt.cidr, 0 )}}
              next
            end
            set override disable
            set priority 200
            set unicast-hb enable
            set unicast-hb-peerip {{ netcalc.getNthIp( properties.networks.hasync.cidr, 2 )}}
            set unicast-hb-netmask {{ netcalc.getNetmaskLong( properties.networks.hasync.cidr )}}
          end
          config router static
            edit 1
              set device port1
              set gateway {{ netcalc.getNthIp( properties.networks.data.cidr, 0 )}}
            next
          end
          config system sdn-connector
            edit "gcp_conn"
            set type gcp
            set ha-status enable
            config external-ip
              edit "{{ properties.prefix }}-ext-ip"
              next
            end
            config route
              edit "{{ properties.prefix }}-default-via-fgt"
              next
            end
          next
          end
    tags:
      items:
       - {{properties.prefix}}-fgt
       - fgt
- name: {{ properties.prefix}}-fgt2
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone2"]}}
    machineType: zones/{{ properties["zone2"]}}/machineTypes/{{ properties["instanceType"]}}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      guestOsFeatures:
      - type: MULTI_IP_SUBNET
      licenses:
      - https://www.googleapis.com/compute/v1/projects/fortigcp-project-001/global/licenses/fortigate
      initializeParams:
        sourceImage: {{ firmwareImage }}
        diskSizeGb: 10.0
    - deviceName: {{ properties.prefix }}-fgt2-logdisk
      source: $(ref.{{ properties.prefix }}-fgt2-logdisk.selfLink)
      type: PERSISTENT
      autoDelete: true
      boot: false
    networkInterfaces:
    - network: {{ properties.networks.data.vpc }}
      subnetwork: {{ properties.networks.data.subnet }}
      networkIP: {{ netcalc.getNthIp( properties.networks.data.cidr, 2 )}}
      accessConfigs:
      # needed for payg activation
      - name: Temporary External
        type: ONE_TO_ONE_NAT
    - network: {{ properties.networks.hasync.vpc }}
      subnetwork: {{ properties.networks.hasync.subnet }}
      networkIP: {{ netcalc.getNthIp( properties.networks.hasync.cidr, 2 )}}
    - network: {{ properties.networks.mgmt.vpc }}
      subnetwork: {{ properties.networks.mgmt.subnet }}
      networkIP: {{ netcalc.getNthIp( properties.networks.mgmt.cidr, 2 )}}
      accessConfigs:
      - name: MGMT B
        type: ONE_TO_ONE_NAT
    canIpForward: Yes
    serviceAccounts:
    - email: {{ properties.serviceAccount }}
      scopes:
      - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      - 'https://www.googleapis.com/auth/logging.write'
      - 'https://www.googleapis.com/auth/monitoring.write'
      - 'https://www.googleapis.com/auth/compute'
    metadata:
      items:
      - key: serial-port-enable
        value: true
      {% if properties.license.type == "byol" %}
      - key: license
        value: |
          {{ imports[properties.license.lic2] | indent(10) }}
      {% endif %}
      - key: user-data
        value: |
          config system global
            set hostname "{{ properties.prefix }}-fgt2"
          end
          config system interface
            edit port1
              set description data
              set mode static
              set ip {{ netcalc.getNthIpWithMask( properties.networks.data.cidr, 2 )}}
              set allowaccess ping https ssh fgfm
            next
            edit port2
              set description hasync
              set mode static
              set ip {{ netcalc.getNthIpWithMask( properties.networks.hasync.cidr, 2 )}}
              set allowaccess ping
            next
            edit port3
              set description hamgmt
              set mode static
              set ip {{ netcalc.getNthIpWithMask( properties.networks.mgmt.cidr, 2 )}}
              set allowaccess ping https ssh fgfm
            next
          end
          config router static
            edit 1
              set gateway {{ netcalc.getNthIp( properties.networks.data.cidr, 0 )}}
              set device port1
            next
          end
          config system ha
            set group-name "cluster1"
            set mode a-p
            set hbdev "port2" 50
            set session-pickup enable
            set ha-mgmt-status enable
            config ha-mgmt-interfaces
              edit 1
              set interface "port3"
              set gateway {{ netcalc.getNthIp( properties.networks.mgmt.cidr, 0 )}}
              next
            end
            set override disable
            set priority 100
            set unicast-hb enable
            set unicast-hb-peerip {{ netcalc.getNthIp( properties.networks.hasync.cidr, 1 )}}
            set unicast-hb-netmask {{ netcalc.getNetmaskLong( properties.networks.hasync.cidr )}}
          end
          config system sdn-connector
            edit "gcp_conn"
            set type gcp
            set ha-status enable
            config external-ip
              edit "{{ properties.prefix }}-ext-ip"
              next
            end
            config route
              edit "{{ properties.prefix }}-default-via-fgt"
              next
            end
            next
          end
    tags:
      items:
       - {{properties.prefix}}-fgt
       - fgt
- name: {{ properties.prefix}}-fgt-allow-in
  type: compute.v1.firewall
  properties:
    network: {{ properties.networks.data.vpc }}
    priority: 100
    sourceRanges:
    - 0.0.0.0/0
    targetTags:
    - {{properties.prefix}}-fgt
    allowed:
    - IPProtocol: TCP
    - IPProtocol: UDP
    - IPProtocol: ICMP
    - IPProtocol: ESP
    - IPProtocol: AH
- name: {{ properties.prefix}}-fgt-allow-mgmt
  type: compute.v1.firewall
  properties:
    network: {{ properties.networks.mgmt.vpc }}
    priority: 100
    sourceRanges:
    - 0.0.0.0/0
    targetTags:
    - {{properties.prefix}}-fgt
    allowed:
    - IPProtocol: TCP
- name: {{ properties.prefix }}-fgt-allow-ha
  type: compute.v1.firewall
  properties:
    network: {{ properties.networks.hasync.vpc }}
    priority: 100
    sourceRanges:
    - 0.0.0.0/0
    targetTags:
    - {{ properties.prefix }}-fgt
    allowed:
    - IPProtocol: TCP
- name: {{ properties.prefix }}-fgt-route-direct
  type: compute.v1.route
  properties:
    network: {{ properties.networks.data.vpc }}
    destRange: 0.0.0.0/0
    nextHopGateway: projects/{{ env.project }}/global/gateways/default-internet-gateway
    priority: 10
    tags:
    - {{ properties.prefix }}-fgt
- name: {{ properties.prefix }}-default-via-fgt
  type: compute.v1.route
  properties:
    network: {{ properties.networks.data.vpc }}
    destRange: 0.0.0.0/0
    nextHopIp: $(ref.{{ properties.prefix }}-fgt1.networkInterfaces[0].networkIP)
    priority: 100