{% set hubVpcName = properties.hubNetwork.name %}

imports:
 - path: network-peering-up.py
 - path: network-peering-down.py

resources:
{% for spoke in properties.spokeNetworks %}
 - name: createPeering-{{ spoke.name }}-{{ hubVpcName }}
   type: network-peering-up.py
   properties:
     hubVpcName: {{ hubVpcName }}
     spokeVpcName: {{ spoke.name }}
   metadata:
     dependsOn:
      - {{ env.deployment }}-{{ hubVpcName }}
      - {{ env.deployment }}-{{ spoke.name }}
 - name: createPeering-{{ hubVpcName }}-{{ spoke.name }}
   type: network-peering-down.py
   properties:
     hubVpcName: {{ hubVpcName }}
     spokeVpcName: {{ spoke.name }}
   metadata:
     dependsOn:
      - createPeering-{{ spoke.name }}-{{ hubVpcName }}  

{% endfor %}