{% set hubVpcName = properties.prefix ~ '-' ~ properties.hubNetwork.name %}
{% set hubSubnetName = hubVpcName ~ '-subnet' %}

resources:
- name: {{ hubVpcName }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: no
- name: {{ hubSubnetName }}
  type: compute.v1.subnetwork
  properties:
    region: {{ properties.region }}
    network: $(ref.{{ hubVpcName }}.selfLink)
    ipCidrRange: {{ properties.hubNetwork.ipCidrRange }}
- name: {{ properties.prefix }}-{{ properties.haNetwork.name }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: no
- name: {{ properties.prefix }}-{{ properties.haNetwork.name }}-subnet
  type: compute.v1.subnetwork
  properties:
    region: {{properties.region }}
    network: $(ref.{{ properties.prefix }}-{{ properties.haNetwork.name }}.selfLink)
    ipCidrRange: {{properties.haNetwork.ipCidrRange}}
- name: {{ properties.prefix }}-{{ properties.mgmtNetwork.name }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: no
- name: {{ properties.prefix }}-{{ properties.mgmtNetwork.name }}-subnet
  type: compute.v1.subnetwork
  properties:
    region: {{properties.region }}
    network: $(ref.{{ properties.prefix }}-{{ properties.mgmtNetwork.name }}.selfLink)
    ipCidrRange: {{properties.mgmtNetwork.ipCidrRange}}
{% for spoke in properties.spokeNetworks %}
{% set spokeVpcName = properties.prefix ~ '-' ~ spoke.name %}
- name: {{ spokeVpcName }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: no
- name: {{ spokeVpcName }}-subnet
  type: compute.v1.subnetwork
  properties:
    region: {{properties["region"]}}
    network: $(ref.{{ spokeVpcName }}.selfLink)
    ipCidrRange: {{ spoke.ipCidrRange }}
- name: {{ properties.prefix }}-peering-{{ spoke.name }}-{{ properties.hubNetwork.name }}
  type: gcp-types/compute-v1:compute.networks.addPeering
  properties:
    network: {{ spokeVpcName }}
    networkPeering:
      name: {{ properties.prefix }}-peering-{{ spoke.name }}-{{ properties.hubNetwork.name }}
      network: $(ref.{{ hubVpcName }}.selfLink)
      exchangeSubnetRoutes: true
      importCustomRoutes: true
  metadata:
    dependsOn:
    - {{ hubVpcName }}
    - {{ spokeVpcName }}
    {% if not loop.first %}
    - {{ properties.prefix }}-peering-{{ properties.hubNetwork.name }}-{{ properties.spokeNetworks[loop.index0-1].name }}
    {% endif %}
- name: {{ properties.prefix }}-peering-{{ properties.hubNetwork.name }}-{{ spoke.name }}
  type: gcp-types/compute-v1:compute.networks.addPeering
  properties:
    network: {{ hubVpcName }}
    networkPeering:
      name: {{ properties.prefix }}-peering-{{ properties.hubNetwork.name }}-{{ spoke.name }}
      network: $(ref.{{ spokeVpcName }}.selfLink)
      exchangeSubnetRoutes: true
      exportCustomRoutes: true
  metadata:
    dependsOn:
    - {{ properties.prefix }}-peering-{{ spoke.name }}-{{ properties.hubNetwork.name }}
{% endfor %}

outputs:
- name: hubVpcRef
  value: $(ref.{{ hubVpcName }}.selfLink)
- name: hubSubnetRef
  value: $(ref.{{ hubSubnetName }}.selfLink)
- name: haVpcRef
  value: $(ref.{{ properties.prefix }}-{{ properties.haNetwork.name }}.selfLink)
- name: haSubnetRef
  value: $(ref.{{ properties.prefix }}-{{ properties.haNetwork.name }}-subnet.selfLink)
- name: mgmtVpcRef
  value: $(ref.{{ properties.prefix }}-{{ properties.mgmtNetwork.name }}.selfLink)
- name: mgmtSubnetRef
  value: $(ref.{{ properties.prefix }}-{{ properties.mgmtNetwork.name }}-subnet.selfLink)